<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Músicas</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="container">

        <h2>Adicionar Música</h2>
        <div id="insert-music">
            <div id="inputs-insert-music">
                <input type="text" placeholder="Titulo Música">
                <input type="text" placeholder="Artista">
                <input type="text" placeholder="Album">
                <input type="time" step="1" placeholder="Duração">
                <input type="text" placeholder="URL Música">
            </div>
            <div id="button-insert-music">
                <button id="append-music" >Enter</button>
            </div>
        </div>

        <h2>Lista de Músicas</h2>
        <div id="music-list"></div>
    </div>

    <script src="/script.js"></script>
</body>
</html>
